<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 导入配置 -->
<import resource="classpath:entry/entry.xml"/>

<!-- bean 配置文件  property（属性） id 被getBean调用   -->
<bean id="Users" class="entry.User">
		<property name="username" value="陈强"></property>
		<property name="password" value="123"></property>
		<property name="id" value="01"></property>
		<property name="email" value="18609933956@163.com"></property>
</bean>


</beans>
